@model DisplayProductsViewModel
<link rel="stylesheet" href="/css/OrderDetails.css" />
<link rel="stylesheet" href="/css/Shared.css" />
<partial name="_LogoutButton" />
<h2>Producten voor geselecteerde leverancier</h2>
<form asp-controller="Orders" asp-action="DisplayProducts">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Product Naam</th>
                <th>Artikel nummer</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Products.Count; i++)
            {
                <tr>
                    <td><input type="checkbox" asp-for="@Model.Products[i].IsSelected" /></td>
                    <td>
                        <label asp-for="@Model.Products[i].ProductName">@Model.Products[i].ProductName</label>
                        <input type="hidden" asp-for="@Model.Products[i].ProductId" />
                        <input type="hidden" asp-for="@Model.Products[i].ProductName" />
                    </td>
                    <td>
                        <label asp-for="@Model.Products[i].ArticleNumber">@Model.Products[i].ArticleNumber</label>
                        <input type="hidden" asp-for="@Model.Products[i].ArticleNumber" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary" asp-controller="Orders" asp-action="CreateUserProductState">Selectie verzenden</button>
</form>
